.swiper-button-next {
    color: #363636 !important;
}
.swiper-button-prev {
    color: #363636 !important;
}

@media (max-width:1005px){
    .mySwiper .swiper-button-next {
        color: #ffffff !important;
    }
    .mySwiper .swiper-button-prev {
        color: #ffffff !important;
    }
}

